<p>
<% @flats.each do |flat| %>
<%= flat.name %>
<br>
<%= flat.description %>
<br>
Price per night: <%= flat.price_per_night %>
<br>
Number of guests: <%= flat.number_of_guests %>
<br><br><br>
<% end %>

</p>
